.Button {
  border: none;
  border-radius: 1.5rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  display: flex;
  font-size: 18px;
  height: 50px;
  justify-content: center;
  margin: 1rem;
  padding: 0.5rem 1rem;
  width: 268px;
}

.green {
  background-color: var(--color-secondary);
}
.coral {
  background-color: var(--color-tertiary);
}
